<!-- formation.component.html -->

<div class="container">
    <h1>Courses by departements</h1>

    <div class="table-container">
        <table class="table table-striped table-bordered table-sm" id="datatableexample">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of files">
                    <td>
                        <h5>{{ file.filename }}</h5>
                    </td>
                    <td>
                        <h5>{{ file.contentType }}</h5>
                    </td>
                    
                    <td>
                        <button class="btn btn-primary" (click)="downloadFile(file.id)">Download</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
