<section class="user-dashboard page-wrapper">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Number of departements
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{
                    n_departments
                  }}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-danger text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> -->
                <span class="text-nowrap"
                  >Departements count data summary.</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Number of skills
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{ n_skills }}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-warning text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <!-- <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span> -->
                <span class="text-nowrap">Skills count data summary.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Number of employee
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{ n }}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-yellow text-white rounded-circle shadow"
                  >
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <!-- <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span> -->
                <span class="text-nowrap">Employee count data summary.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Number of courses
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{ n_courses }}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-info text-white rounded-circle shadow"
                  >
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <!-- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span> -->
                <span class="text-nowrap">Courses count data summary.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container-full">
    <div class="row">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 col-md-5 col-sm-10 col-lg-7 text-center">
            <h1>Number of employee by each department</h1>
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div class="row justify-content-center">
          <h1 class="text-center">Number of employee by each skill</h1>
          <div class="col-12 col-md-7 col-sm-10 col-lg-9 text-center">
            <canvas id="SkillChart"></canvas>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6 col-md-3 col-sm-6 col-lg-4 text-center">
            <h1>Percentage of rating (%)</h1>
            <canvas id="myPieChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
</section>
