<!-- add-user.component.html -->

<div class="main2">
    <h2>Update User</h2>
    <form (ngSubmit)="updateUser()" >
     
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nomComplet" [(ngModel)]="user.nomComplet" required>
      
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
     <div>
        <label for="department_id">Department:</label>
        <select id="department_id" name="department_id" [(ngModel)]="user.department_id" required>
          <option *ngFor="let department of departments" [value]="department.idDepartement">
            {{ department.nomDepartement }}
          </option>
        </select>
      </div>
      <button type="button" (click)="updateUser()">Update</button>
    </form>
  </div>
  