/* add-user.component.css */
body{
    height:-80px;
   
  
    
  }
  div {
    max-width: 500px;
    
    background-color: rgb(189, 137, 195);
    padding: 7px;
    
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .main2{
    max-width: 440px;
    margin: auto;
    padding-left:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-left:10px;
  }
  
  label {
    
    color: #555;
  }
  
  input {
    padding: 3px;
    margin-bottom: 5px;
   
    border-radius: 3px;
    width: 400px;
  }
  select{
    padding: 3px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 400px;
  }
  
  button {
    padding: 3px;
    background-color: #010202;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left:0px;
    width: 400px;
    margin-top:9px;
    
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #FFF;
    color: #4c7faf;
  }
  