.bg-login {
    background-image: url(../../../assets/images/cartographer.png);

    
    height: 100vh;
  }
  
  .login-form .form-control {
    height: 44px;
    border: none;
    margin-bottom: 14px;
    border: 2px solid #eaeaea;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
  }