<body>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><span class="text-warning">Digi</span>Talent</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li> 
            <li class="nav-item">
                <a class="nav-link"  href="#services">Services</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact-us">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login"><span class="text-warning">Login</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink="/register" ><span class="text-warning">Register</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
         
         
         
         <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/btp.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Your Dream App</h5>
                              <p>BTP Company excels in construction and infrastructure solutions, delivering quality projects with innovation, precision, and client satisfaction as priorities.</p>
                              <p><a routerLink="/contact-us" class="btn btn-warning mt-3">contact us</a></p>
            </div>
          </div>
        </div>
      </div>
  
     
      
      <!-- services section Ends -->
  
      <!-- portfolio strats -->
      <section id="portfolio" class="portfolio section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/project-1.jpg" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Construction Expertise</h3>
                            <p class="lead">Offering comprehensive construction services, from residential to commercial projects, ensuring high quality, efficiency, and client satisfaction.   </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/project-2.jpg" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Infrastructure Solutions</h3>
                            <p class="lead">Specializing in innovative infrastructure development, BTP delivers robust solutions for sustainable urban and rural environments.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/project-3.jpg" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Project Management Excellence</h3>
                            <p class="lead">Trust our experienced team for seamless project management, overseeing timelines, budgets, and quality assurance.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <section class="services section-padding" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Talk to us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-white text-center bg-dark pb-2">
                      <div class="card-body">
                          <i class="bi bi-laptop"></i>
                          <h3 class="card-title">Reclamation</h3>
                          <p class="lead"><img src="../../../assets/images/Reclamation.jpg"></p>
                          <!-- <button class="btn bg-warning text-dark">Read More</button> -->
                      </div>
                  </div>
              </div>
                <div class="col-12 col-md-12 col-lg-4">
                  
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                          <i class="bi bi-intersect"></i>
                            <h3 class="card-title">Feedback</h3>
                            <p class="lead"><img src="../../../assets/images/feedback.jpg"></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  >
  
   
  
  
  
  
  
  
  
  
    
    
    <!-- All Js -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
  </body>
  
  
  
  
  
  <!--for getting the form download the code from download button-->